# Set the default behavior to automatically detect text files and perform LF normalization
* text=auto

# files that should not be modified
*.png binary
*.blend binary export-ignore

# files that should not get included in a release zip
README.md export-ignore
.vscode export-ignore
.git export-ignore
.github export-ignore
.gitignore export-ignore
.gitattributes export-ignore
.releaserc export-ignore